@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (min-width: 320px) {


}


@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1300px) {

  

    .whole_page {
        width: 100vw;
        height: 100vh;
        margin-top: -1vw;
        font-family: 'Lexend Deca', sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .menu {
        position: fixed;
        width: 38vw;
        height: 7vh;
        display: flex;

        margin-top: 4vw;

        z-index: 5;
        opacity: 1;

        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 0;

    }

    .navigateButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;


        width: 65%;
        height: 100%;
        background-color: #EEEFFF;
        border-radius: 300px;
        margin-right: 1vw;
        padding: 0.3vw;
        opacity: 1;
    }

    .homeButton {
        width: 50%;
        height: 100%;
        border-radius: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #5A61FF;
        font-size: 1vw;
        font-weight: 400;

        text-align: center;

        cursor: pointer;
        opacity: 1;

        text-decoration: none;
    }
    .homeButton:hover {
        background-color: #CACBFF;
        
    }


    
    .aboutButton {
        width: 50%;
        height: 100%;
        background-color: #EEEFFF;
        border-radius: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #5A61FF;
        font-size: 1vw;
        font-weight: 400;

        text-align: center;

        cursor: pointer;
        opacity: 1;

        text-decoration: none;
    }

    .aboutButton:hover {
        background-color: #CACBFF;
        
    }

    .mobileButton {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35%;
        height: 100%;
        background-color: #5A61FF;
        border-radius: 300px;
        color: white;
        font-size: 1vw;
        font-weight: 400;

        text-align: center;

        cursor: pointer;

        text-decoration: none;
        opacity: 1;
    }

    .mobileButton::after {
        content: "Open on mobile!" !important;
    }

    .innerBox2 {
        width: 70vw;
        height: 40vh;
        /* background-color: #EEEFFF; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .innerBox3 {
        width: 70%;
        height: 100%;
        /* background-color: #666cbe; */
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        padding: 1vw;
    }

    .innerBox4 {
        width: 30%;
        height: 100%;
        /* background-color: #878ff9; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
    }

    .imageQR {
        width: 100%;
        border: 3px solid #5A61FF;
        border-radius: 30px;
    }

    .heyMessage {
        color: black;
        font-size: 5vw;
        font-weight: 400;
        margin-bottom: 2vw;

    }

    .subtitles {
        color: #323581;
        font-size: 1.5vw;
        font-weight: 500;
        margin-bottom: 1.5vw;

        
    }
    

    .subsubtitle {
        color: #323581;
        font-size: 1.2vw;
        font-weight: 300;
        margin-bottom: 1.5vw;
        width: 30vw;
    }

    .subbersubtitle {
        color: #5B5D98;
        font-size: 1.2vw;
        font-weight: 300;
        margin-bottom: 1vw;
    }

}



























